@using Kendo.Mvc.UI

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Painel de Pedidos
            @*<small>Subheading</small>*@
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <a href="@Url.Action("Create","ManterPedidos")" class="btn btn-default btn-sm"><i class="fa fa-file"></i> Cadastrar Novo Pedido</a>
            </li>
        </ol>
    </div>

    @Html.Partial("~/Views/ManterPedidos/PedidosPendentes.cshtml")
   
</div>

<script type="text/javascript">
    function GetIdPedido() {
        return {
            IdPedido: $("#IdPedido").val()
        }
    }

    function GetPedidoProduto() {
        return {
            IdPedido: $("#IdPedido").val(),
            IdTipoPedido: null,
            IgnoraIdPedido: false
        }
    }
</script>
