@using Kendo.Mvc.UI
@using BakeryManager.BackOffice.Models.ManterReceita
@using BakeryManager.BackOffice.Models.Cadastros
@using BakeryManager.BackOffice.Models.Cadastros.Ingredientes




<div class="form-group divFormula">
    <div class="col-lg-8">
        <div class="form-group">
            <label class="col-sm-2 control-label">Categoria</label>
            <div class="col-sm-4">
                @(Html.Kendo().DropDownList().Name("cbxCategoriaIngredientePesquisa").DataTextField("Nome").DataValueField("IdCategoriaIngrediente")
                    .OptionLabel("Todos").HtmlAttributes(new { style = "min-width: 450px" })
                    .DataSource(ds =>
                    {
                        ds.Read(r => r.Action("ListarCategoriasIngrediente", "ManterReceituario"));
                    }))

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Ingrediente</label>
            <div class="col-sm-4 ">
                <div class="input-group">
                    @(Html.Kendo().DropDownList().Name("cbxIngredientePesquisa")
                                          .DataTextField("Nome")
                                          .HtmlAttributes(new {style = "min-width: 450px"})
                                          .DataValueField("IdIngrediente")
                                          .Filter("contains")
                                          .OptionLabel("Selecione...")
                                          .MinLength(3)
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Action("GetIngredietesDisponiveis", "ManterReceituario").Data("getCategoriaForPesquisa").Type(HttpVerbs.Post);
                                              })
                                                  .ServerFiltering(false);
                                          })
                                          .AutoBind(false)

                    )


                    <span class="input-group-btn"><button class="btn btn-sm btn-default" type="button" id="btnAddIngrediente"><i class="fa fa-arrow-down"></i></button></span>
                </div>
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Ingredientes Selecionados</label>
            <div class="col-sm-10">
                @(Html.Kendo().Grid<IngredienteFormulaModel>()
                    .Name("gridFormula")
                    .Columns(column =>
                    {
                        column.Bound(x => x.Nome);
                        column.Bound(x => x.Quantidade).EditorTemplateName("tmplQuantidade").Width(200)
                        .ClientFooterTemplate("<div>Rendimento Total: #= formataQuantidade(sum) #</div>"); ;
                        column.Bound(x => x.IdIngrediente).Title("").Width(50).ClientTemplate("<a href=\"javascript: void(0);\" title=\"Excluir Ingrediente da Fórmula\" onclick=\"excluirItemFormula(#=IdIngrediente#); \" class=\"btn btn-danger btn-sm\"><span class=\"glyphicon glyphicon-remove\" data-tooltip=\"Histórico de Desativação e Reativação\" ></span></a>");
                    })
                    .Sortable()
                    .Scrollable(scr => scr.Height(400))
                    .Editable(ed => ed.Enabled(true).Mode(GridEditMode.InCell))
                    .Navigatable()
                    .Resizable(r => r.Columns(true))
                    .DataSource(ds => ds
                        .Ajax()
                        .Batch(true)
                        .ServerOperation(false)
                        .Model(model =>
                        {
                            model.Id(x => x.IdIngrediente);
                            model.Field(x => x.Nome).Editable(false);
                            model.Field(x => x.IdIngrediente).Editable(false);
                            model.Field(x => x.Quantidade);
                        })
                        .Events(e => e.Change("DataSouceFormulaChange"))
                        .Aggregates(aggregate => {
                            aggregate.Add(x => x.Quantidade).Sum();
                        })
                        .Read(read => read.Action("GetIngredietesFormula", "ManterReceituario").Data("getInfFormula"))


                    )

                )

            </div>
        </div>

    </div>









    <script type="text/javascript">
        function getInfFormula() {
            return {
                IdFormula: $("#IdProduto").val()
            }
        }

        function getCategoriaForPesquisa() {

            var idCat = $("#cbxCategoriaIngredientePesquisa").val();

            var IdSelect = [];
            var data = $("#gridFormula").data("kendoGrid").dataSource.data();

            for (var i = 0; i < data.length; i++) {

                IdSelect.push(data[i].IdIngrediente);

            }

            return {
                IdCategoria: idCat,
                IngredientesJaSelecionados: IdSelect
            }

        }

        function formataQuantidade(valor) {

            @*Esta função encontra-se no Utils.js*@
            return FormatarQuantidade(valor);
        }

        function DataSouceFormulaChange() {
            $("#gridFormula").data("kendoGrid").refresh();
        }


        function excluirItemFormula(idIngrediente) {
            confirm("Deseja Realmente Excluir Esse Item da Formula?", function () {

                var data = $("#gridFormula").data("kendoGrid").dataSource;
                data.remove(data.get(idIngrediente));
                $("#cbxIngredientePesquisa").data("kendoDropDownList").datadource.read();


            }, 2);
        }

        $(function () {

            $("#cbxCategoriaIngredientePesquisa").change(function () {

                $("#cbxIngredientePesquisa").data("kendoDropDownList").dataSource.read();

            });

            $("#btnAddIngrediente").click(function () {

                if($("#cbxIngredientePesquisa").data("kendoDropDownList").value() == "")
                    return;

                var ds = $("#gridFormula").data("kendoGrid").dataSource;

                var newItem = {
                    IdIngrediente: $("#cbxIngredientePesquisa").data("kendoDropDownList").value(),
                    Nome: $("#cbxIngredientePesquisa").data("kendoDropDownList").text(),
                    Quantidade: 0

                };

                if ($("#IdProduto").val() != "" && $("#IdProduto").val() != "0")
                    newItem.IdFormula = $("#IdProduto").val();

                ds.add(newItem);

                $("#cbxIngredientePesquisa").data("kendoDropDownList").dataSource.read();

            });

        });


    </script>


