@using BakeryManager.BackOffice.Models;
@using Kendo.Mvc.UI

<div class="row">
    <div class="col-md-12">
        @(Html.Kendo().Grid<CondicaoPagamentoModel>()

            .Name("gridCondicaoPagamento")

            .Columns(column =>
            {
                column.Bound(c => c.Descricao).Title("Condição de Pagamento");
                column.Command(cmd => cmd.Destroy().Text("Excluir")).Width(100);
            })
            .ToolBar(tbl => tbl.Create().Text("Adicionar"))
            .Editable(edt => edt.Mode(GridEditMode.InCell).DisplayDeleteConfirmation(false))

            .Navigatable()
            .Sortable()
            .Filterable()
            .Scrollable(scr => scr.Height(450))
            .DataSource( datasource => datasource

                    .Ajax()
                    .Batch(true)
                    .PageSize(50)
                    .ServerOperation(true)
                    .Model(model => {
                        model.Id(m => m.IdCondicaoPagamento);
                        model.Field(m => m.Descricao);
                    })
                    .Read(read => read.Action("ReadCondicaoPagamento", "ManterParametros"))

            )


        )
    </div>
</div>
