@using Kendo.Mvc.UI
@using BakeryManager.BackOffice.Models.Pedido
@model IList<PedidoModel>

<div class="row">
    @foreach (var item in Model){

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail cadEmProducao" id="@string.Concat("pedido",item.IdPedido.ToString())">


                
                <div class="row">

                    <div class="col-md-10">
                        @Html.Partial("~/Views/ManterPedidos/CardPedido.cshtml", item)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <a href="#" onclick="ProduzirPedido(@item.IdPedido)" data-toggle="tooltip" data-placement="buttom" class="btn btn-success btn-sm">Produzir</a>
                    </div>
                </div>


            </div>
        </div>


    }
</div>