
@{
    ViewBag.Title = "Home";
}



<div class="contact">
    <div class="container">
        <div class="dreamcrub">
            <ul class="breadcrumbs">
                <li class="home">
                    <a href="index.html" title="Go to Home Page">Inicio</a>&nbsp;
                    <span>&gt;</span>
                </li>
                <li class="women">
                    Contato
                </li>
            </ul>
            <ul class="previous">
                <li><a href="index.html">Voltar a Página Inicial</a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="contact-info">
            <h2>Nossa Localização</h2>
        </div>
        <div class="contact-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3677.0185596473475!2d-43.078925684399074!3d-22.83880284119198!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x999b36146c5827%3A0x15a66c7312df1210!2sR.+Jaci+de+Menezes+-+Barro+Vermelho%2C+S%C3%A3o+Gon%C3%A7alo+-+RJ%2C+24416-120!5e0!3m2!1spt-BR!2sbr!4v1455756029666" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="contact-form">
            <div class="contact-info">
                <h3>Formulário de Contato</h3>
            </div>
            <form>
                <div class="contact-left">
                    <input type="text" placeholder="Nome" required>
                    <input type="text" placeholder="E-mail" required>
                    <input type="text" placeholder="Assunto" required>
                </div>
                <div class="contact-right">
                    <textarea placeholder="Mensagem" required></textarea>
                </div>
                <div class="clearfix"></div>
                <input type="submit" value="ENVIAR">
            </form>
        </div>
    </div>
</div>