
@{
    ViewBag.Title = "Bem-vindo ao Bakery Manager";
}

<div class="container-fluid">
    <!-- Page Heading -->
    @Html.Partial("~/Views/ManterPedidos/PedidoView.cshtml")
    <!-- /.row -->
</div>
<!-- /.container-fluid -->
       

