<a href="javascript:;" data-toggle="collapse" data-target="#MenuGestaoAcesso"><i class="fa fa-fw fa-arrows-v"></i> Gestão de Acesso <i class="fa fa-fw fa-caret-down"></i></a>
<ul id="MenuGestaoAcesso" class="collapse">
    <li>
        <a href="@Url.Action("Index","CadastroPerfil")">Perfis</a>
    </li>
    <li>
        <a href="@Url.Action("Index","CadastroUsuarios")">Usuarios</a>
    </li>
</ul>
