
<a href="javascript:;" data-toggle="collapse" data-target="#MenuOperador"><i class="fa fa-fw fa-table"></i> Cadastros <i class="fa fa-fw fa-caret-down"></i></a>
<ul id="MenuOperador" class="collapse">
    <li>
        <a href="@Url.Action("Index","CadastroIngredientes")">Ingredientes</a>
    </li>
   
</ul>