

<div class="navbar-default sidebar" role="navigation" >
    <div class="sidebar-nav navbar-collapse">

           
        @if (User.Identity.IsAuthenticated)
            {
            <ul class="nav" id="side-menu">
        
            </ul>
            <script type="text/javascript">

                $(function () {
                    $.ajax({

                        url: "@Url.Action("GetMenuLateral", "Shared")",
                        data: { Atribuicao: window.localStorage.atribuicaoUsuarioLogado },
                        method: "POST",
                        dataType: "json",
                        success: function (result) {

                            $("#side-menu").html(result).metisMenu();
                            
                        }
                    });
                });

            </script>

        }

      
     
    </div>
</div>

