
<div id="loadScreen" style="text-align: center;"><img src="~/Content/imagens/load.gif" /></div>
<script type="text/javascript">


    kendo.culture("pt-BR");

    $(function () {

        $("#loadScreen").dialog({
            closeOnEscape: false,
            width: 68,
            height: 121,
            modal: true,

        }).dialog("close");


        $(document).on({
            ajaxStart: function () {
                $("#loadScreen").dialog("open");
            },
            ajaxStop: function () {
                $("#loadScreen").dialog("close");
            }
            , fail: function (result) {
                // Aborted request
                if (result.status === 0) {
                    return;
                }
            }
        });


        $.validator.addMethod(
            'date',
            function (value, element, params) {
                if (this.optional(element)) {
                    return true;
                };
                var result = false;
                try {
                    var date = kendo.parseDate(value, "dd/MM/yyyy");
                    result = true;
                    if (!date) {
                        result = false;
                    }
                } catch (err) {
                    result = false;
                }
                return result;
            },
            ''
        );

    });

    var validNavigation = false;

    // Attach the event keypress to exclude the F5 refresh
    $(document).bind('keypress', function (e) {
        if (e.keyCode == 116) {
            validNavigation = true;
        }
    });

    // Attach the event click for all links in the page
    $("a").bind("click", function () {
        validNavigation = true;
    });

    // Attach the event submit for all forms in the page
    $("form").bind("submit", function () {
        validNavigation = true;
    });

    // Attach the event click for all inputs in the page
    $("input[type=submit]").bind("click", function () {
        validNavigation = true;
    });

    //Tratando os erros dos Grids

    function error_handler(e) {
        if (e.errors) {
            var message = "Erros:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message, null, 1);
        }
    }

</script>